<h1> Edit Post </h1>
<form action = "<%=post_url(@post)%>" method="post">
  <input type = "hidden" name = "_method" value = "patch">
  <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
  <input type = "hidden" name = "post[sub_id]" value = "<%=@post.sub_id %>">

  <label> Title
    <input type = "text" name = "post[title]" id = "Title" value= "<%= @post.title %>">
  </label>

  <label> URL
    <input type = "text" name = "post[url]" id = "url" value= "<%= @post.url %>">
  </label>
  <br><br>

  <label> Content
   <textarea name = "post[content]" id = "Content" value= "<%= @post.content %>">Content</textarea>
  </label>

  <input type = "submit" value = "Edit Post">

</form>
